.mmenu {
    padding: 0 0.3rem;
    position: absolute;
    top: 100%;
    right: 0;
    width: 360px;
    border-radius: 10px;
    background: var(--bg-primary);
    box-shadow: 2px 2px 2px var(--shadow-1);
    user-select: none;
    padding: 10px;
}
.mmenu_header {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    gap: 10px;
}
.mmenu_header img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}
.mmenu_col {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mmenu_col span:first-of-type {
    color: var(--color-primary);
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
}
.mmenu_col span:last-of-type {
    font-size: 14px;
}
.mmenu_main {
    padding: 10px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.mmenu_splitter {
    width: 100%;
    height: 1px;
    background: var(--bg-third);
    margin-top: 5px;
}
.mmenu_span1 {
    font-size: 14px !important;
}
.mmenu_span2 {
    font-size: 12px !important;
    color: var(--color-secondary);
}
.mmenu_item {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 5px;
    padding: 7px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 10px;
}
.rArrow {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.absolute_wrap {
    padding: 0 0.3rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 360px;
    height: fit-content;
    border-radius: 10px;
    background: var(--bg-primary);
    box-shadow: 2px 2px 2px var(--shadow-1);
    user-select: none;
    padding: 10px;
}
.absolute_wrap .mmenu_item {
    margin-top: 0;
}
.absolute_wrap_header {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    font-size: 24px;
}

.absolute_wrap label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}
.absolute_wrap label input {
    width: 20px;
    height: 20px;
}

/*-------User menu----*/

/*---responsive----------*/
@media (max-width: 1295px) {
    .middle_icon {
        width: 90px;
    }
}
@media (max-width: 1130px) {
    .middle_icon {
        width: 70px;
    }
}
@media (max-width: 1040px) {
    .search1 {
        width: 40px;
        height: 40px;
        padding: 0;
        justify-content: center;
    }
    .search1 input {
        display: none;
    }
    .header_middle {
        transform: translateX(-15%);
    }
}
@media (max-width: 945px) {
    .header_middle {
        transform: translateX(-22%);
    }
}
@media (max-width: 850px) {
    .header_middle {
        transform: translateX(-30%);
    }
    .middle_icon:nth-child(5) {
        display: none;
    }
}
@media (max-width: 770px) {
    .header_middle {
        transform: translateX(-37%);
    }
    .middle_icon:nth-child(4) {
        display: none;
    }
}
@media (max-width: 720px) {
    .middle_icon:nth-child(3) {
        display: none;
    }
}
/*---responsive----------*/
@media (max-width: 620px) {
    .profile_link {
        display: none;
    }
    .all_menu {
        width: 485px;
    }
    .all_left {
        width: 250px;
    }
}
@media (max-width: 550px) {
    .middle_icon:nth-child(1) {
        display: none;
    }
    .header_middle {
        transform: translateX(-20%);
    }
}
@media (max-width: 505px) {
    .all_menu {
        width: 340px;
        right: -9rem;
    }
    .all_menu_wrap {
        grid-template-columns: 1fr;
    }
    .all_left {
        width: 100%;
    }
    .all_right {
        position: relative;
        width: 100%;
        padding-left: 3rem;
        margin-bottom: 1rem;
    }
}
@media (max-width: 400px) {
    .header_right .circle_icon:nth-child(3) {
        display: none;
    }
    .mmenu {
        width: 340px;
    }
    .all_menu {
        left: -12.5rem;
    }
}
